  .navigation-link-container {
    background-color: #690f6c;
    max-height: 30px;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    color: rgb(14, 13, 13);
    }

    .header__wrapper {
      color: white;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      display: flex;
  }
  
  .header__logo {
      margin-left: 48px;
  }
  
  .header__search {
      display: flex;
      height: 40px;
      padding: 10 px;
      align-items: center;
  }
  
  .header__searchContainer {
      height: 20px;
      border: 1px solid #31363a;
      border-radius: 4px;
      width: 375px;
      color: white;
  }
  .header__searchContainer > input {
      background-color: transparent;
      border: none;
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
  }
  
  .header__searchContainer > input:focus {
      outline: none;
  }

  .header__menuItems {
      margin-left: 48px;
      margin-right: 48px;
      justify-content: center;
      padding: 10px;
      margin: 10px;
      
      
  }